#yellow {
  background: #FFFF00;
  height: 20em;
}

#darkred {
  background: #A52A2A;
  height: 20em;
}

#white {
  background: #ffffff;
  height: 20em;
}

#blue {
  background: #0000FF;
  height: 20em;
}

#red {
  background: #FF0000;
  height: 20em;
}