#yellow {
  background: #FFFF00;
}

#darkred {
  background: #A52A2A;
}

#blue {
  background: #0000FF;
}

#red {
  background: #FF0000;
}

#green {
  background: green;
}

#pink {
  background: pink;
}

#purple {
  background: purple;
}

#cyan {
  background: cyan;
  height: 60em;
}

/*Height*/
#purple, #pink, #green, #red, #blue, #darkred, #yellow {
  height: 20em;
}